@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<address>
    <p><span>Name: </span>Jesus Arredondo</p>
    <p><span>Email: </span><a href="mailto:jesus.arredondo@mexicanuniversity.com">jesus.arredondo@mexicanuniversity.com</a></p>
    <p><span>Phone Number: </span> 222-2222-222</p>
    <p><span>Monterrey, Mexico</span></p>
</address> 